@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,600,700');

//font-styles

//default font styles for desktop

$black: black;
$off-black: #252525;
$dark-grey: #b1b1b1;
$grey: #eeeeee;
$white: white;

$purple: #AC63FF;
$dark-green: #06D58E;
$green: #47C99A;
$blue: #1DC3FE;
$light-red: #FF7E6D;
$red: #F45921;

//default section & container widths.

$large-desktop: 1400px;
$desktop: 1100px;
$small-desktop: 900px;
$tablet: 780px;
$large-mobile: 650px;

$desktop-container: 1140px;

h1 {
    font-size: 50px;
    color: $black;
    line-height: 68px;
    font-weight: 700;
    margin: 0;

    @media only screen and (max-width : $small-desktop) {
        line-height: 40px;
        font-size: 36px;
    }

}

h2 {
    font-size: 42px;
    color: $black;
    line-height: 50px;
    font-weight: 700;
    margin: 0;
    
}

h3 {
    font-size: 26px;
    color: $black;
    line-height: 36px;
    font-weight: 400;
    margin: 0;

    @media only screen and (max-width : $small-desktop) {
        line-height: 30px;
        font-size: 20px;
    }
}

h4 {
    font-size: 18px;
    color: $black;
    line-height: 24px;
    font-weight: 400;
    margin: 0;

    @media only screen and (max-width : $small-desktop) {
        font-size: 18px;
        line-height: 24px
    }
}

//h5

h6 {
    font-size: 10px;
    color: $black;
    line-height: 16px;
    font-weight: 400;
    margin: 0;
}

p {
    font-size: 14px;
    color: $off-black;
    line-height: 19px;
    font-weight: 400;
    margin: 0;
}

.semibold {
    font-weight: 600;
}

.bold {
    font-weight: 700;
}

.light {
    color: $white;
}

.dark-grey {
    color: $dark-grey;
}

label {
    font-size: 11px;
    color: $dark-grey;
    margin-bottom: 4px;

}



//layout settings
//Desktop

body {
    padding: 0;
    margin: 0;
}

.section {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center; 
    position: relative;
    overflow: hidden;
}

.container {
    width: $desktop-container;
}


//elements
input {
    padding: 10px;
    width: 300px;
    border-radius: 4px;
    border: none;
}

input::placeholder {
    color: $off-black;
}

textarea::placeholder {
    color: $off-black;
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 12px;
}

input:focus {
    border-color: $purple;
}

//buttons
.btn {
    border-radius: 4px;
    background-color: $purple;
    border: none;
    color: $white;
    padding: 7px 20px;
    cursor: pointer;
}

.btn-sml {
    padding: 3px 20px;
}

.form-field {
    display: flex;
    flex-direction: column;
}

:required {
    border: 1px solid $light-red .5;
}



//default styles
#app {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    color: $black;
}
#nav {
    padding: 30px;
    a {
        font-weight: bold;
        color: #2c3e50;
        &.router-link-exact-active {
        color: #42b983;
        }
    }
}